<!DOCTYPE html>
<html>
<meta charset="UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<title>添加用户</title>
<head>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css"/>
    <link href="//cdn.bootcss.com/bootstrap-select/1.10.0/css/bootstrap-select.min.css" rel="stylesheet"/>
    <link href="//cdn.bootcss.com/bootstrap-daterangepicker/2.1.24/daterangepicker.min.css" rel="stylesheet"/>
    <link href="//cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="//cdn.bootcss.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/plugins/adminLTE/css/AdminLTE.css"/>
    <link rel="stylesheet" href="/plugins/adminLTE/css/skins/skin-blue.css"/>
    <style>
        th {
            background-color: #f1f1f1;
        }

        th, td {
            font-size: 12px;
        }

        .box-body {
            padding: 10px 0px;
        }
    </style>
</head>
<body id="app" class="box-body">
<form class="form-horizontal" id="addUserForm" @submit.prevent="add">
    <div class="form-group">
        <label for="loginName" class="col-sm-2 control-label"><span style="color: red">*</span>姓名：</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" id="loginName" onblur="checkLoginName()" v-model="loginName"/>
        </div>
    </div>
    <div class="form-group">
        <label for="nickname" class="col-sm-2 control-label"><span style="color: red">*</span>昵称：</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" id="nickname" onblur="checkLoginName()" v-model="nickname"/>
        </div>
    </div>
    <div class="form-group">
        <label for="role" class="col-sm-2 control-label"><span style="color: red">*</span>角色：</label>&nbsp;&nbsp;&nbsp;&nbsp;
        <select id="role" class="selectpicker bs-select-hidden" multiple=""
                data-live-search="true"
                data-live-search-placeholder=""
                data-actions-box="true" title="选择角色"
                v-selectpicker="roleSelected"
                :options="roles" v-model="roleSelected">
        </select>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-3">
            <button type="submit" class="btn btn-primary">确认</button>
        </div>
    </div>
</form>

<script src="/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script src="/plugins/bootstrap/js/bootstrap.js"></script>
<script src="//cdn.bootcss.com/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap-select/1.10.0/js/i18n/defaults-zh_CN.min.js"></script>
<script src="/plugins/vue/vue.min.js"></script>
<script src="/plugins/layer/layer.js"></script>
<script>
    function checkLoginName() {
        var loginName = $("#loginName").val();
        $.get("/api/user/checkLoginName", {loginName: loginName}, function (data) {
            if (data == true) {
                layer.msg('用户名已存在', function () {
                    $("#loginName").focus();
                    return false;
                });
            }
        })
    }
    (function () {
        var vm = new Vue({
            el: "#app",
            data: {
                loginName: '',
                roleSelected: [],
                roles: [],
            },
            created: function () {
                var _this = this;
                $.get("/role/list", function (data) {
                    _this.roles = data;
                });
            },
            watch: {},
            methods: {
                add: function () {
                    var _this = this;
                    if (_this.loginName == "") {
                        layer.msg('姓名不能为空');
                        return false;
                    }
                    if (_this.roleSelected.length == 0) {
                        layer.msg('用户角色必选');
                        return false;
                    }
                    if (_this.departmentSelected != "" && _this.positionSelected == _this.positionId_ma) {
                        var result;
                        $.ajax({
                            type: "get",
                            url: "/api/user/checkCsManage?depId=" + _this.departmentSelected,
                            cache: false,
                            async: false,
                            dataType: "json",
                            success: function (data) {
                                if (data) {
                                    result = data;
                                    layer.msg('该部门已存在客服主管，不能继续添加！');
                                }
                            }
                        });
                        if (result) return false;
                    }
                    var param = {
                        loginName: _this.loginName,
                        wangWangNumber: _this.wangWangNumber,
                        phoneNumber: _this.phoneNumber,
                        address: _this.address,
                        memoName: _this.memoName,
                        department: _this.departmentSelected,
                        position: _this.positionSelected,
                        roles: _this.roleSelected,
                        cids: _this.categorySelected,
                        bids: _this.brandSelected,
                        mids: _this.modelSelected,
                    };

                    $.post("/api/user/add", param, function (data) {
                        if (data == "success") {
                            layer.msg('添加用户成功');
                            $('#addUserForm')[0].reset();
                            _this.brandSelected = [];
                        } else {
                            layer.msg('添加用户失败' + data);
                        }
                    })

                }
            }
        })
    })()

</script>
</body>
</html>