<!DOCTYPE html>
<html>
<meta charset="UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<title>添加用户</title>
<head>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css"/>
    <link href="//cdn.bootcss.com/bootstrap-select/1.10.0/css/bootstrap-select.min.css" rel="stylesheet"/>
    <link href="//cdn.bootcss.com/bootstrap-daterangepicker/2.1.24/daterangepicker.min.css" rel="stylesheet"/>
    <link href="//cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="//cdn.bootcss.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/vendor/admin-lte/css/AdminLTE.min.css"/>
    <link rel="stylesheet" href="/vendor/admin-lte/css/skins/skin-blue.min.css"/>
    <style>
        th {
            background-color: #f1f1f1;
        }

        th, td {
            font-size: 12px;
        }

        .box-body {
            padding: 10px 0px;
        }
    </style>
</head>
<body id="app" class="box-body">
<form class="form-horizontal" id="addUserForm" @submit.prevent="add">
    <div class="form-group">
        <label for="loginName" class="col-sm-2 control-label">姓名：</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" id="loginName" v-model="loginName" disabled="disabled"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="department">部门：</label>&nbsp;&nbsp;&nbsp;&nbsp;
        <select v-selectpicker="departmentSelected" :options="departments" id="department" class="selectpicker"
                title="选择部门">
        </select>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="position">职位：</label>&nbsp;&nbsp;&nbsp;&nbsp;
        <select v-selectpicker="positionSelected" :options="positions" id="position" class="selectpicker"
                title="选择职位">
        </select>
    </div>
    <div class="form-group">
        <label for="role" class="col-sm-2 control-label">角色配置：</label>&nbsp;&nbsp;&nbsp;&nbsp;
        <select id="role" class="selectpicker bs-select-hidden" multiple=""
                data-live-search="true"
                data-live-search-placeholder=""
                data-actions-box="true" title="选择角色"
                v-selectpicker="roleSelected"
                :options="roles" v-model="roleSelected">
        </select>
    </div>
    <div class="form-group">
        <label for="category" class="col-sm-2 control-label">负责分类：</label>&nbsp;&nbsp;&nbsp;&nbsp;
        <select id="category" class="selectpicker bs-select-hidden" multiple=""
                data-live-search="true"
                data-live-search-placeholder=""
                data-actions-box="true" title="选择分类"
                v-selectpicker="categorySelected"
                :options="categories" v-model="categorySelected">
        </select>
    </div>
    <div class="form-group">
        <label for="brand" class="col-sm-2 control-label">负责品牌：</label>&nbsp;&nbsp;&nbsp;&nbsp;
        <select id="brand" class="selectpicker bs-select-hidden" multiple=""
                data-live-search="true"
                data-live-search-placeholder=""
                data-actions-box="true" title="选择品牌"
                v-selectpicker="brandSelected"
                :options="brands" v-model="brandSelected">
        </select>
    </div>
    <div class="form-group">
        <label for="model" class="col-sm-2 control-label">负责型号：</label>&nbsp;&nbsp;&nbsp;&nbsp;
        <select id="model" class="selectpicker bs-select-hidden" multiple=""
                data-live-search="true"
                data-live-search-placeholder=""
                data-actions-box="true" title="选择型号"
                v-selectpicker="modelSelected"
                :options="models" v-model="modelSelected">
        </select>
    </div>
    <div class="form-group">
        <label for="wangWangNumber" class="col-sm-2 control-label">旺旺号：</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" id="wangWangNumber" v-model="wangWangNumber"/>
        </div>
    </div>
    <div class="form-group">
        <label for="memoName" class="col-sm-2 control-label">备注名：</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" id="memoName" v-model="memoName"/>
        </div>
    </div>
    <div class="form-group">
        <label for="phoneNumber" class="col-sm-2 control-label">联系方式：</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" id="phoneNumber" v-model="phoneNumber"/>
        </div>
    </div>
    <div class="form-group">
        <label for="address" class="col-sm-2 control-label">家庭住址：</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" id="address" v-model="address"/>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">确定</button>
        </div>
    </div>

</form>

<script src="/vendor/jQuery/jQuery-2.2.0.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap-select/1.10.0/js/i18n/defaults-zh_CN.min.js"></script>
<script src="/vendor/bootstrap/js/daterangepicker.js"></script>
<script src="/vendor/vue/vue.min.js"></script>
<script src="/common.js"></script>
<script src="/plugins/layer/layer.js"></script>
<script>
    var userId = location.href.split("?")[1].split("=")[1];
    var firstComeIn = true;
    (function () {
        var vm = new Vue({
            el: "#app",
            data: {
                categories: [],
                brands: [],
                models: [],
                wangWangNumber: '',
                loginName: '',
                phoneNumber: '',
                address: '',
                memoName: '',
                categorySelected: [],
                brandSelected: [],
                modelSelected: [],
                departmentSelected: '',
                positionSelected: '',
                roleSelected: [],
                departments: [],
                positions: [],
                roles: [],
                position: null,
                categoryIds: [],
                brandIds: [],
                modelIds: [],
            },
            created: function () {
                $("#director").hide();
                var _this = this;
                $.get("/department/list", function (data) {
                    _this.departments = data;
                });
                $.get("/role/list", function (data) {
                    _this.roles = data;
                });
                getCategories(function (data) {
                    _this.categories = data;
                });

                $.get("/api/user", {id: userId}, function (data) {
                    _this.loginName = data.loginName;
                    _this.wangWangNumber = data.wangWangNumber;
                    _this.phoneNumber = data.phoneNumber;
                    _this.address = data.address;
                    _this.memoName = data.memoName;
                    if (data.department != null) {
                        _this.departmentSelected = data.department.id;
                    }
                    if (data.position != null) {
                        _this.position = data.position;
                    }
                    _this.roleSelected = [];
                    for (var i = 0; i < data.roleSet.length; i++) {
                        _this.roleSelected.push(data.roleSet[i].id);
                    }
                    _this.categoryIds = [];
                    _this.brandIds = [];
                    _this.modelIds = [];
                    var classifications = data.classifications;
                    for (var i = 0; i < classifications.length; i++) {
                        var len = classifications[i].id.split("-").length;
                        if (len == 1) {
                            _this.categoryIds.push(classifications[i].id);
                        } else if (len == 2) {
                            _this.brandIds.push(classifications[i].id);
                        } else {
                            _this.modelIds.push(classifications[i].id);
                        }
                    }
                    setTimeout(f, 500);//异步问题迫不得已。
                    function f() {
                        _this.categorySelected = _this.categoryIds;
                    }
                });

            },
            watch: {
                departmentSelected: function (val) {
                    var _this = this;
                    $.get("/position/department/" + val, function (data) {
                        _this.positions = data;
                        if (_this.position != null) {
                            _this.positionSelected = _this.position.id;
                        }
                    })
                },
                categorySelected: function (val) {
                    var tempModels = [];
                    var _this = this;
                    for (let index = 0; index < val.length; index++) {
                        var bid = val[index];
                        getBrands(bid, function (data) {
                            for (var j = 0; j < data.length; j++) {
                                tempModels.push(data[j]);
                            }
                            if (index == val.length - 1) {
                                _this.brands = tempModels;
                                setTimeout(f, 500);

                            }
                        });
                    }
                    function f() {
                        _this.brandSelected = _this.brandIds;
                    }

                },
                brandSelected: function (val) {
                    if (firstComeIn) {
                        firstComeIn = false;
                        var tempModels = [];
                        var _this = this;
                        for (let index = 0; index < val.length; index++) {
                            var bid = val[index];
                            getModels(bid, function (data) {
                                for (var j = 0; j < data.length; j++) {
                                    tempModels.push(data[j]);
                                }
                                if (index == val.length - 1) {
                                    _this.models = tempModels;
                                    setTimeout(f, 500);
                                }
                            });
                        }
                        function f() {
                            _this.modelSelected = _this.modelIds;

                        }
                    } else {
                        if (this.positionSelected == "") {
                            layer.msg('请先选择职位');
                            return;
                        }
                        var position = $("#position").find("option:selected").text();
                        var _this = this;
                        if (position == "推广") {
                            $.get("/api/user/filter/model", {bids: val}, function (data) {
                                _this.models = data;
                            });
                        } else {
                            var tempModels = [];
                            for (var i = 0; i < val.length; i++) {
                                var bid = val[i];
                                getModels(bid, function (data) {
                                    for (var j = 0; j < data.length; j++) {
                                        tempModels.push(data[j]);
                                    }
                                });
                            }
                            this.models = tempModels;
                        }
                    }
                }
            },
            methods: {
                add: function () {
                    var _this = this;
                    var param = {
                        id: userId,
                        loginName: _this.loginName,
                        wangWangNumber: _this.wangWangNumber,
                        phoneNumber: _this.phoneNumber,
                        address: _this.address,
                        memoName: _this.memoName,
                        department: _this.departmentSelected,
                        position: _this.positionSelected,
                        roles: _this.roleSelected,
                        cids: _this.categorySelected,
                        bids: _this.brandSelected,
                        mids: _this.modelSelected,
                    };
                    $.post("/api/user/add", param, function (data) {
                        if (data == "success") {
                            window.location = "index";
                        } else {
                            layer.msg('更新用户信息失败');
                        }
                    })
                }
            }
        })
    })()

</script>
</body>
</html>